<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' lang='' xml:lang=''>
<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, user-scalable=no' />
	<title>Fossbot-Simulator</title>
	<link rel='stylesheet' href="{{url_for('static', filename='style/index.css')}}" />
<link id='-gd-engine-icon' rel='icon' type='image/png' href="{{url_for('static', filename='wasm-files/index.icon.png')}}" />
<link rel='apple-touch-icon' href="{{url_for('static', filename='wasm-files/index.apple-touch-icon.png')}}"/>
<script>
// Resizing window + quality to match size of browser (with footer):
window.addEventListener('resize', () => {
    const canvasContainer = document.getElementById('canvas-container');
    const canvas = document.getElementById('canvas');
    const footer = document.querySelector('.footer');

    const windowWidth = window.innerWidth;
    const windowHeight = window.innerHeight - footer.offsetHeight;

    canvasContainer.style.width = windowWidth + 'px';
    canvasContainer.style.height = windowHeight + 'px';
    canvas.width = windowWidth;
    canvas.height = windowHeight;
});

window.addEventListener('DOMContentLoaded', () => {
    window.dispatchEvent(new Event('resize'));
});
</script>
</head>
<body>
	<div id="canvas-container">
		<canvas id="canvas">
			HTML5 canvas appears to be unsupported in the current browser.<br />
			Please try updating or use a different browser.
		</canvas>
	</div>
	<!-- <div class="footer">
		<strong>Session ID: </strong>
		<span id="session-id">{{ session_id }}</span>
		<button onclick="copySessionId()">Copy</button>
		"{{url_for('static', filename='wasm-files/index.js')}}"
	</div> -->

	<script>
		function copySessionId() {
			var sessionElement = document.getElementById('session-id');
			var textarea = document.createElement('textarea');
			textarea.value = sessionElement.textContent;
			document.body.appendChild(textarea);
			textarea.select();
			textarea.setSelectionRange(0, 99999); // For mobile devices
			document.execCommand('copy');
			document.body.removeChild(textarea);
		}
	</script>
	<div id='status'>
		<div id='status-progress' style='display: none;' oncontextmenu='event.preventDefault();'><div id ='status-progress-inner'></div></div>
		<div id='status-indeterminate' style='display: none;' oncontextmenu='event.preventDefault();'>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div id='status-notice' class='godot' style='display: none;'></div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	<script type='text/javascript' src="{{url_for('static', filename='wasm-files/index.js')}}"></script>
	<script type='text/javascript'>//<![CDATA[

		const GODOT_CONFIG = {"args":[],"canvasResizePolicy":2,"executable":"index","experimentalVK":false,"focusCanvas":true,"gdnativeLibs":[]};
		var engine = new Engine(GODOT_CONFIG);

		var ws_port = "{{ ws_port }}";
		var ws_ip = "{{ ws_ip }}";
		var sio_namespace = "{{ sio_namespace }}";

		var godotSocket;
		var callbackGodot;

		function initGodotSocket(){
			godotSocket = io.connect('http://' + ws_ip + ':' + ws_port + sio_namespace);
			godotSocket.on('connect', function () {
				godotSocket.emit('browserConnect', JSON.stringify({'session_id': "{{ session_id }}"}));
			});
			godotSocket.on('clientMessage', async (message) => {
				callbackGodot(JSON.stringify(message));
			});
		}

		function initCallBack(callback) {
			callbackGodot = callback;	// initialize callback to godot.
		}

		function disconnectGodotSocket(){
			godotSocket.disconnect() 
		}

		function sendMessageFromGodot(data, fossbot_name, user_id) {
			godotSocket.emit("godotMessage", {"data":data, "fossbot_name":fossbot_name, "user_id": user_id});
		}

		function sendErrorFromGodot(data, fossbot_name, user_id) {
			godotSocket.emit("godotError", {"data":data, "fossbot_name":fossbot_name, "user_id": user_id});
		}

		function sendEnvMessageFromGodot(data, user_id) {
			godotSocket.emit("godotMessage", {"data":data, "user_id": user_id});
		}

		(function() {
			const INDETERMINATE_STATUS_STEP_MS = 100;
			var statusProgress = document.getElementById('status-progress');
			var statusProgressInner = document.getElementById('status-progress-inner');
			var statusIndeterminate = document.getElementById('status-indeterminate');
			var statusNotice = document.getElementById('status-notice');

			var initializing = true;
			var statusMode = 'hidden';

			var animationCallbacks = [];
			function animate(time) {
				animationCallbacks.forEach(callback => callback(time));
				requestAnimationFrame(animate);
			}
			requestAnimationFrame(animate);

			function setStatusMode(mode) {

				if (statusMode === mode || !initializing)
					return;
				[statusProgress, statusIndeterminate, statusNotice].forEach(elem => {
					elem.style.display = 'none';
				});
				animationCallbacks = animationCallbacks.filter(function(value) {
					return (value != animateStatusIndeterminate);
				});
				switch (mode) {
					case 'progress':
						statusProgress.style.display = 'block';
						break;
					case 'indeterminate':
						statusIndeterminate.style.display = 'block';
						animationCallbacks.push(animateStatusIndeterminate);
						break;
					case 'notice':
						statusNotice.style.display = 'block';
						break;
					case 'hidden':
						break;
					default:
						throw new Error('Invalid status mode');
				}
				statusMode = mode;
			}

			function animateStatusIndeterminate(ms) {
				var i = Math.floor(ms / INDETERMINATE_STATUS_STEP_MS % 8);
				if (statusIndeterminate.children[i].style.borderTopColor == '') {
					Array.prototype.slice.call(statusIndeterminate.children).forEach(child => {
						child.style.borderTopColor = '';
					});
					statusIndeterminate.children[i].style.borderTopColor = '#dfdfdf';
				}
			}

			function setStatusNotice(text) {
				while (statusNotice.lastChild) {
					statusNotice.removeChild(statusNotice.lastChild);
				}
				var lines = text.split('\n');
				lines.forEach((line) => {
					statusNotice.appendChild(document.createTextNode(line));
					statusNotice.appendChild(document.createElement('br'));
				});
			};

			function displayFailureNotice(err) {
				var msg = err.message || err;
				console.error(msg);
				setStatusNotice(msg);
				setStatusMode('notice');
				initializing = false;
			};

			if (!Engine.isWebGLAvailable()) {
				displayFailureNotice('WebGL not available');
			} else {
				setStatusMode('indeterminate');
				engine.startGame({
					'onProgress': function (current, total) {
						if (total > 0) {
							statusProgressInner.style.width = current/total * 100 + '%';
							setStatusMode('progress');
							if (current === total) {
								// wait for progress bar animation
								setTimeout(() => {
									setStatusMode('indeterminate');
								}, 500);
							}
						} else {
							setStatusMode('indeterminate');
						}
					},
				}).then(() => {
					setStatusMode('hidden');
					initializing = false;
				}, displayFailureNotice);
			}
		})();
	//]]></script>
</body>
</html>

