GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY_PATH=
GITHUB_APP_CALLBACK_URL=https://your.instance.domain.com/auth/github/callback
GITHUB_APP_SETUP_URL=https://your.instance.domain.com/auth/github/setup
FRONTEND_URL=https://your.instance.domain.com
FOSSBOT_MARKETPLACE_OWNER=github-username
FOSSBOT_MARKETPLACE_REPO=fossbot-marketplace
FOSSBOT_MARKETPLACE_BRANCH=main
FOSSBOT_MARKETPLACE_INDEX_PATH=index.json
FOSSBOT_MARKETPLACE_RAW_INDEX_URL=https://raw.githubusercontent.com/github-username/fossbot-marketplace/main/index.json
